contest_directory = "{contest_id}"
problem_directory = "{problem_id}"

[templates]
"main.cpp" = "MAIN_CPP"
"main.py" = "MAIN_PY"
"src/main.rs" = "MAIN_RS"
"Cargo.toml" = "CARGO_RS"
"rust-toolchain" = "TOOLCHAIN_RS"
